body{
  background-image: url(../images/casinoBackground.png);
  background-size: cover;
}
#blackjackDiv {
  display: flex;
  justify-content: space-around;
}
#blackjackTable {
  width: 60vw;
}
.cardsDiv {
  position: absolute;
}
.playerCards {
  margin-top: 25vw;
  margin-left: 0.2vw;
  width: 7vw;
  
}
.dealerCards {
  margin-top: 2vw;
  margin-left: 0.2vw;
  width: 7vw;
}
#blackjackButtonDiv {
  margin: 1vw;
  display: flex;
  justify-content: center;
}
.blackjackButton {
  margin: 1vw;
  padding: 0.2vw;
  width: 7vw;
  height: 3vw;
  font-size: 2vw;
}
#popUp{
    display: none;
    position: absolute;
    justify-self: center;
    top: 30%;
    background-color: rgb(31, 31, 31);
    color: rgb(175, 175, 175);
    padding: 0.5vw;
    padding-top: 0;
    width: 30vw;
   height: 20vw;
   justify-content: center;
    z-index: 10;
}
#content{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 17vw;
    width: 30vw;
    flex-direction: column;
}
#restart{
margin-top: 15vw;
  font-size: 0.8vw;
  padding: 0.2vw;
}
#close{
    cursor: pointer;
    font-size: 2vw;
    align-self: flex-start;
}
#reason{
  position: absolute;
   align-self: center;
   justify-self: center;
    margin-left: 1vw;
    width: 30vw;
}
.numbers{
  display: flex;
  margin-top: 10vw;
  font-size: 1.5vw;
  width: 15vw;
}
#playerNumber{
  margin-left: 0.5vw;
}
#dealerNumber{
  margin-left: 0.5vw;
}
#startDiv{
display: flex;
width: 100vw;
justify-content: center;
}
#blackjackBet{
  width: 15vw;
  height: 3vw;
  font-size: 2vw;
  background-color: rgb(172, 172, 172);
  box-shadow: none;
  border: 0;
  margin-right: 0.5vw;
}
#startBlackjack{
  font-size: 1.5vw;
  width: 4vw;
}
#amount{
  margin-top: 1vw;
  font-size: 0.7vw;
}