* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(70, 70, 70);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
a {
  color: rgb(194, 215, 255);
}
header {
  width: 100vw;
  font-size: 2vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  padding: 5px;
}
