* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(70, 70, 70);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
a {
  color: rgb(194, 215, 255);
}
header {
  width: 100vw;
  font-size: 2vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  padding: 5px;
}
#run_simulation_hort {
  border-radius: 10px;
  border-color: black;
  border-width: 10vw;
  margin: 5vw;
  margin-bottom: 2vw;
  width: 90vw;
  height: 30vw;
  margin-left: 5vw;
  background-image: url(./images/8-lanes-start-position-stadium-running-tracks-starting-point-eight-running-track-lanes_757852-1707.png);
  background-size: 90vw;
  background-position: center;
}
.hort {
  position: absolute;
  margin: 10px;
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
}
#red {
  margin-top: 4.2vw;
}
#black {
  margin-top: 11.7vw;
}
#cyan {
  margin-top: 8vw;
}
#pink {
  margin-top: 15.4vw;
}
#white {
  margin-top: 19.2vw;
}
#yellow {
  margin-top: 22.9vw;
}
#blue {
  margin-top: 26.7vw;
}
#orange {
  margin-top: 0.5vw;
}
#blackjackDiv {
  display: flex;
  justify-content: space-around;
}
#blackjackTable {
  width: 60vw;
}
.cardsDiv {
  position: absolute;
}
.playerCards {
  margin-top: 25vw;
  margin-left: 0.2vw;
  width: 7vw;
}
.dealerCards {
  margin-top: 2vw;
  margin-left: 0.2vw;
  width: 7vw;
}
#blackjackButtonDiv {
  margin: 1vw;
  display: flex;
  justify-content: center;
}
.blackjackButton {
  margin: 1vw;
  padding: 0.2vw;
}
.bettingbutton {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 500px;
  appearance: unset;
  margin: 0.2vw;
}
#mry{
  margin-top: 7vh;
  background-color: orangered;
}
#cyn{
  background-color: cyan;
}
#box{
  background-color: black;
}
#pnk{
  background-color: pink;
}
#res{
  background-color: red;
}
#sup{
  background-color: white;
}
#yel{
  background-color: yellow;
}
#bul{
  background-color: blue;
}
#horsetrack{
  width: 80vw;
  height: 20vw;
}