#roulette{
    display: flex;
    align-items: center;
    position: absolute;
    height: 97vh;
    justify-self: center;
}
#rouletteWheel{
    width: 45vw;
}
#rouletteTable{
    width: 52vw;
    margin-left: 1vw;
}
#chip{
    width: 3vw;
}