*{
    -webkit-user-drag: none;
}
#roulette{
    display: flex;
    align-items: center;
    position: absolute;
    height: 97vh;
    justify-self: center;
}
#rouletteWheel{
    width: 45vw;
}
#chip{
    width: 3vw;
    position: absolute;
    right: 49vw;
    bottom: 8vw;
}
#rouletteTable{
    background-color: rgb(0, 70, 0);
    width: 54vw;
    height: 25vw;
    margin-left: 1vw;
    border-radius: 1vw;
    margin-right: 0.5vw;
    padding-top: 1vw;
}
.numberDiv{
width: 3.4vw;
height: 6vw;
border: 0.1vw solid rgb(168, 168, 168);
font-size: 1vw;
}
#tableNumbers{
display: grid;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
justify-content: center;
margin-left: 5vw;
margin-right: 5vw;
height: 18vw;
}