#run_simulation_hort {
  border-radius: 10px;
  border-color: black;
  border-width: 10vw;
  margin: 5vw;
  margin-bottom: 2vw;
  width: 90vw;
  height: 30vw;
  margin-left: 5vw;
  background-image: url(../images/8-lanes-start-position-stadium-running-tracks-starting-point-eight-running-track-lanes_757852-1707.png);
  background-size: 90vw;
  background-position: center;
}
.hort {
  position: absolute;
  margin: 10px;
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
}
#red {
  margin-top: 4.2vw;
}
#black {
  margin-top: 11.7vw;
}
#cyan {
  margin-top: 8vw;
}
#pink {
  margin-top: 15.4vw;
}
#white {
  margin-top: 19.2vw;
}
#yellow {
  margin-top: 22.9vw;
}
#blue {
  margin-top: 26.7vw;
}
#orange {
  margin-top: 0.5vw;
}


#mry{
  background-color: orangered;
  cursor: pointer;
}
#cyn{
  background-color: cyan;
  cursor: pointer;
}
#box{
  background-color: black;
  color: white  ;
  cursor: pointer;
}
#pnk{
  background-color: pink;
  cursor: pointer;
}
#res{
  background-color: red;
  cursor: pointer;
}
#sup{
  background-color: white;
  cursor: pointer;
}
#yel{
  background-color: yellow;
  cursor: pointer;
}
#bul{
  background-color: blue;
  cursor: pointer;
    color: white  ;
}
#horsetrack{
  width: 80vw;
  height: 20vw;
}
#start_run_hort{
    width: 30vw;
    height: 6vw;
    color: gold;
    background-color: crimson;
    font-size: 5vw;
    align-self: auto;
}
#currency_input_hort{
  border-radius: 0.2vw;
  border-style: dashed;
  border-width: 0.2vw;
  width: 10vw;
}
#betArea{
  width: 80vw;
  height: 4vw;
  margin: 10vw;
  display: inline-flex;
  
}
.bettingbutton {
  border-radius: 2vw;
  margin: 0.2vw;
  color: black;
  font-style: italic;
  padding: 1%;
  width: 7vw;
  height: fit-content;
  margin-block: initial;
  font-size: 1vw;
}
#cntrl {
display: flex;
justify-content:  center;
align-items: center;
flex-direction: column;
}
#body{
  content: 50vw;
  alignment-baseline: central;
  align-self: center;
}